<hr>
<h3>Welcome, {{user.name}}. 
<a href="/logout" class=btn btn-danger">Logout</a></h3>
<hr>
<div class="jumbotron">
	<h1>Hello!</h1>
	<p>View all your social media visualizations below</p>
	<p><a class="btn btn-primary" href="/visualization">D3 Graph Visualization</a> 
	| <a class="btn btn-primary" href="/c3visualization">C3 Graph Visualization</a>
	| <a class="btn btn-primary" href="/barvisualization">My D3 Graph Visualization</a>
	</a></p>
</div
	

