<hr>
<h3>Welcome {{user.name}}. 
<a href="/account" class="btn btn-info">Home</a> | <a href="/logout" class="btn btn-danger">Logout</a></h3>
<hr>
<div class="" id="spinner">
	<h3>Loading~~~~</h3>
</div>
<div class="row">
	<div class="col-lg-6 col-lg-offset-3 text-center">
		<a class="btn btn-primary" href="/visualization">D3 Graph Visualization</a>
		| <a  class="btn btn-primary" href="/c3visualization">C3 Graph Visualization</a>
		| <a class="btn btn-primary" href="/barvisualization">My D3 Graph Visualization</a>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 text-center">
		<h1>Here are your Followers!</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div id="chart"></div>
	</div>
</div>
<script src="js/d3tip.js"></script>
<script src="/js/barvisualization.js"></script>