<div class="" id="spin">
	<h3>Loading...</h3>
</div>
<hr>
<h3>Welcome {{user.name}}.
 <a href="/account" class="btn btn-info">Back to Home</a> | <a href="/logout" class="btn btn-danger">Logout</a></h3>
<hr>
<div class="row">
	<div class="col-lg-6 col-lg-offset-3 text-center">
		<a class="btn btn-primary" href="/visualization">D3 Graph Visualization</a> 
		| <a  class="btn btn-primary" href="/c3visualization">C3 Graph Visualization</a> 
		| <a class="btn btn-primary" href="/barvisualization">New D3 Graph</a>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 text-center">
		<h1> Instagram Media Count Followers using C3JS </h1>
	</div>
</div>
<div id="chart"></div>

<script src="js/tip.js"></script>
<script src="js/c3visualization.js"></script>
