<br/>
<div class="jumbotron">
   <h1>Cogs Popularity Rater</h1>
   <p>See how you rank against your friends on Instagram!</p>
   <p><a class="btn btn-primary btn-lg" href="/auth/instagram" role="button">Login</a></p>
</div>